final-project-t21-pixel-circuit/NODE-RED/flows.json
[
    {
        "id": "e5ea7423b886c1a5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4b9081a5f59bfa34",
        "type": "mqtt out",
        "z": "e5ea7423b886c1a5",
        "name": "mqttOut",
        "topic": "P1_LED_ESE516_T0",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "107bf69389d2f738",
        "x": 640,
        "y": 400,
        "wires": []
    },
    {
        "id": "3380f19fbdfdc50e",
        "type": "mqtt in",
        "z": "e5ea7423b886c1a5",
        "name": "mqttln",
        "topic": "P1_TEMPERATURE_ESE516_T0",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "107bf69389d2f738",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "0794d32f9db1665d",
                "0c73261ab1f44486"
            ]
        ]
    },
    {
        "id": "0794d32f9db1665d",
        "type": "debug",
        "z": "e5ea7423b886c1a5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 300,
        "wires": []
    },
    {
        "id": "f482c2549a8a61e8",
        "type": "ui_led",
        "z": "e5ea7423b886c1a5",
        "order": 0,
        "group": "a6dde8891f7be2c7",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "ce3ab2fd9eb1d865",
        "type": "ui_switch",
        "z": "e5ea7423b886c1a5",
        "name": "",
        "label": "MCU Debug LED",
        "tooltip": "",
        "group": "a6dde8891f7be2c7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "P1_LED_ESE516_T0",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 400,
        "wires": [
            [
                "4b9081a5f59bfa34",
                "81c471e20ca7d7d4"
            ]
        ]
    },
    {
        "id": "81c471e20ca7d7d4",
        "type": "debug",
        "z": "e5ea7423b886c1a5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 520,
        "wires": []
    },
    {
        "id": "0c73261ab1f44486",
        "type": "function",
        "z": "e5ea7423b886c1a5",
        "name": "Parse Button JSON",
        "func": "// Simple button state processing\nif (msg.payload === \"true\") {\n    msg.payload = true;\n    return msg;\n} \nelse if (msg.payload === \"false\") {\n    msg.payload = false;\n    return msg;\n}\n// Pass through other messages\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 220,
        "wires": [
            [
                "f482c2549a8a61e8"
            ]
        ]
    },
    {
        "id": "107bf69389d2f738",
        "type": "mqtt-broker",
        "name": "AzureMqttBroker",
        "broker": "20.55.16.155",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a6dde8891f7be2c7",
        "type": "ui_group",
        "name": "Status",
        "tab": "1cc8fe83afb659c4",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1cc8fe83afb659c4",
        "type": "ui_tab",
        "name": "MCU Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]